@import "bootstrap";

//$menuColour: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
$menuColour: #2a2d35;
$primary: #353741;
$primaryS: #3b3d46;
$evenColour: #40424c;
$secondColour: #15bebf;
$red: #ff5656;
$green: rgba(23, 179, 98, 0.37);
$grey: rgba(255, 255, 255, 0.4);

/*
// 1: GENERAL
//  1.1: MENU
//  1.2: SEARCH
//  1.3: HEADER
//  1.4: SEARCH RESULTS
// 2: CONTENT
// 3: DASHBOARD
// 6: ORDERS
// 5: SUPPLIERS
// 6: STOCK
*/


//1. GENERAL
a, button, .btn, .form-control, .input-group-addon{
  -webkit-transition: ease 0.4s;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body{
  background:$primary;
  -webkit-app-region: drag;
  //Hide scroll bar
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  &::-webkit-scrollbar {
    display: none;
  }

  height: 100%;
  padding: 0;
  overflow: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}
hr{
  border:none;
}
.alert-danger {
  background-color: $red;
  color: #ffffff;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  text-align:center;
}

button.btn.btn-default.selected {
  background: white;
  color: #353741;
}
button, .btn{
  &:hover{
    outline:0;
  }
  &:focus{
    outline:0;
  }
  &:hover{
    opacity:0.7;
  }
}
.btn-danger{
  background:$red !important;
}
h5{
  color:white;
  padding-bottom:0;
  margin-bottom:0;
}
a{
  color:$secondColour;
  cursor:pointer;
  &:hover{
    color:white;
  }
}

label{
  padding-left:0.5em;
  color:white !important;
}
.buttons{
  margin: 0 !important;
  padding: 0 !important;
}


//1.1. MENU
.menu {
  margin: 0;
  padding: 0;
  height:100vh;
  .side-menu {
    background: $menuColour;
    height: 100vh;
    width: 16.5%;
    position:fixed;
    color: white;
    padding-top: 1em;
    text-align: left;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    .bottomLink{
      position:absolute;
      bottom:0;
    }
    h3 {
      padding-left: 0.5em;
      text-transform: uppercase;
      color: white;
      font-weight: 200;
      background: #15bebf;
      top: 0;
      width: 101%;
      position: absolute;
      margin: 0;
      border: none;
      padding: 1.2em;
      text-align: center;
      margin-bottom: 2em;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-top:10em;
      li {
        margin-bottom: 1em;
        padding-right: 1em;
        padding: 1em 0;
        padding-left: 1em;
        a {
          text-transform: uppercase;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.7);
          cursor: pointer;
          font-size: 1em;
          &:hover {
            text-decoration: none;
            color: white;
          }
          &:focus, &:active{
            text-decoration: none;
          }
        }
      }
      li.active {
        a {
          color: white;
        }
      }
    }
  }
}

//1.2. SEARCH
.search{
  background: white !important;
  border: none;
  margin-bottom: 1em;
  color: $primary !important;

  .searchMode{
    .input-group-addon, .form-control:active + .input-group-addon{
      color:white !important;
      background: $primary !important;
    }

    .form-control {
      color:white !important;
      background: $primary !important;
    }
  }

  .form-control:focus + .input-group-addon, .form-control:active + .input-group-addon{
    color:white !important;
    background: $primary !important;
  }

  .form-control {
    color: $primary !important;
    &:focus, &:active{
      color:white !important;
      background: $primary !important;
    }
  }
}

//1.3 HEADER
.header{
  background:url('https://static.pexels.com/photos/132781/pexels-photo-132781.jpeg') center no-repeat;
  //background:url('https://static.pexels.com/photos/132695/pexels-photo-132695.jpeg') center no-repeat;
  //background:url('https://static.pexels.com/photos/145397/pexels-photo-145397.jpeg') center no-repeat;
  background-size: cover;
  width: 104%;
  height: 25em;
  margin: -1em;
  margin-bottom: -21em;
}

//1.4 SEARCH RESULTS
.searchResults{
  padding:1em 1em;
  background: rgba(53, 55, 65, 0.97);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 6em;
  overflow: scroll;
  .searchOptions{
    padding-top:1em;
    padding-bottom:2em;
  }
  //Hide scroll bar
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  &::-webkit-scrollbar {
    display: none;
  }
  .result{
    color:white;
    padding:1em 0;
    background:$primaryS;
  }
  hr{
    padding-top:2em;
    padding-bottom:2em;
  }
  h4{
    color:white;
  }
  ul{
    li{
      color:white;
      list-style: none;
      margin:1em 0;
    }
  }
}

//2. CONTENT
.content{
  .btn{
    background:$secondColour;
    border-radius:0;
    border:none;
    color:white;
    text-transform: uppercase;
  }
  .order-btn{
    height:4em;
    width:100%;
    &:hover{
      opacity:0.7;
    }
    &:focus{
      outline:0;
    }
  }
  .rowCard{
    color:white;
    font-size:0.9em;
    padding:1em;
    margin:15px 0;
    &:first-child{
      margin-bottom:0;
      //border-bottom:2px solid $grey;
    }
    .details{
      padding:1em 0;
      margin:0;
    }
    .options{
      padding:1em 0;
      a{
        padding:1em;
        &:last-child{
          padding-right:0;
          color:$red;
        }
      }
    }
    &:last-child{
      border:none;
    }
  }
  .sections{
    padding:1em;
  }
  .card{
    background: $primaryS;
    padding:1em;
    .search{
      margin:0;
      padding: 0;
    }
    .form-control{
      margin:0;
      border:5px solid $grey;
      color:white;
      background: transparent;
      border-right: none;
      border-radius:1em;
      border-radius:0;
      box-shadow: none;
      height:4em;
    }
    .input-group-addon{
      background:white;
      border:5px solid $grey;
      border-left:none;
      .btn-search{
        background:none;
        border-radius:0;
        border:none;
      }
    }
  }
  h3{
    color:white;
    padding:0.5em;
  }
  p{
    color: white;
    font-weight: 200;
    padding: 1em;
  }
  form{
    .green > .form-control{
      border: none !important;
      border-bottom: 4px solid rgba(23, 179, 98, 0.37) !important;
    }
    .red > .form-control{
      border: none !important;
      border-bottom: 4px solid $red !important;
    }
    .form-control{
      border: none !important;
      border-bottom: 4px solid $grey !important
    }
  }
}

//3. DASHBOARD
.dashboard{
  .rowCard{
    padding: 0;
    padding-right: 1em;
    line-height: 3em;
  }
  h3{
    text-align:center;
    font-weight:100;
    background:$secondColour;
    margin-bottom:1em;
    small{
      color:white;
    }
  }
  .lowStock{
    margin-bottom:1em;
    padding:0 1em;
    background: $red;
    max-height:9em;
    //Make div scrollable
    overflow-y:scroll;

    //Hide scroll bar
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar {
      display: none;
    }
    h5{
      color:white;
    }
    .rowCard{
      padding: 0.5em 1em;
      line-height: 0em;
      &:first-child{
        padding-top:1em;
      }
      &:last-child{
        margin-top:0em;
      }
      .options{
        margin-top:-0.5em;
      }
      &:nth-child(even){
        background: #f15050;
      }
      a{
        color:white;
        &:hover{
          opacity:0.6;
        }
        &:focus, &:active{
          color: white;
          opacity:0.7;
        }
      }
    }
  }
  .activity{
    height:25em;
    //Make div scrollable
    overflow-y:scroll;

    //Hide scroll bar
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar {
      display: none;
    }

    .rowCard{
      padding:0 1em;
      &:nth-child(even){
        background: $evenColour;
      }
      .details{
        padding:0;
      }
    }
  }
  .suppliers{
    height:34em;
    //Make div scrollable
    overflow-y:scroll;

    //Hide scroll bar
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar {
      display: none;
    }
    .rowCard{
      padding:0 1em;
      &:nth-child(even){
        background: $evenColour;
      }
    }
  }
}

//4. ORDERS
.orders{
  .rowCard {
    padding: 0 1em;
    &:nth-child(even) {
      background: $evenColour;
    }
  }
  .nonScroll{
    height:45em;
    //Make div scrollable
    overflow-y:scroll;

    //Hide scroll bar
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar {
      display: none;
    }

    color:white;
    .options{
      padding:1em 0;
      cursor:pointer;
    }
  }
  .buttons{
    margin-top:2em;
  }
  .checked {
    //background: #494c56;
  }
  .details {
    padding: 0;
  }
  .qty {
    margin-top: -2em !important;
    width: 60%;
  }
  .newQty {
    margin-top: 1em;
    width: 60%;
  }
}


//4. SUPPLIERS
.suppliersList {
  .rowCard{
    &:nth-child(even){
      background: #40424c;
    }
  }
}

//5. STOCK
.stockList {
  .rowCard{
    &:nth-child(even){
      background: #40424c;
    }
  }
}
//Order List
.orderList{
  h5{
    margin:0;
    margin-top:2em;
    padding:0;
  }
  .rowCard {
    padding: 0;
    height:1em !important;
  }
}
