@import "bootstrap";

$menuColour: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
$secondColour: #15bebf;
$red: #bf1537;
$green: #15bf57;

body{
  background:#f7f7f7;
  -webkit-transition: ease-in-out 1s;
  -moz-transition: ease-in-out 1s;
  -ms-transition: ease-in-out 1s;
  -o-transition: ease-in-out 1s;
}

.alert-danger {
  background-color: $red;
  color: #ffffff;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  text-align:center;
}

button{
  &:hover{
    outline:0;
  }
  &:focus{
    outline:0;
  }
  &:hover{
    opacity:0.7;
  }
}
h5{
  color:#333;
  padding-bottom:0;
  margin-bottom:0;
}
a{
  color:$secondColour;
  cursor:pointer;
}
//Menu
.menu {
  margin: 0;
  padding: 0;
  height:100vh;
  .side-menu {
    background: $menuColour;
    height: 100vh;
    width: 16.5%;
    position:fixed;
    color: white;
    padding-top: 1em;
    text-align: left;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    h3 {
      padding-left: 0.5em;
      margin: 1em 0 3em 0;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.7);
      font-weight: 200;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 1em;
        padding-right: 1em;
        padding: 1em 0;
        padding-left: 1em;
        a {
          text-transform: uppercase;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.7);
          cursor: pointer;
          font-size: 1em;
          &:hover {
            color: white;
          }
        }
      }
      li.active {
        background: rgba(255, 255, 255, 0.57);
        a {
          color: black;
        }
      }
    }
  }
}

//Content
.content{
  .btn{
    background:$secondColour;
    border-radius:0;
    border:none;
    color:white;
    text-transform: uppercase;
  }
  .order-btn{
    height:4em;
    width:100%;
    &:hover{
      opacity:0.7;
    }
    &:focus{
      outline:0;
    }
  }
  .rowCard{
    color:#444;
    font-size:0.9em;
    padding:1em;
    margin:15px 0;
    border: 1px solid #f1f1f1 !important;
    .details{
      padding:1em 0;
      margin:0;
    }
    .options{
      padding:1em 0;
      a{
        padding:1em;
        &:last-child{
          padding-right:0;
          color:$red;
        }
      }
    }
    &:last-child{
      border:none;
    }
  }
  .sections{
    padding:1em;
  }
  .card{
    background: white;
    padding:1em;
    .search{
      margin:0;
      padding: 0;
    }
    .form-control{
      margin:0;
      border:5px solid #f9f9f9;
      border-right: none;
      border-radius:1em;
      border-radius:0;
      box-shadow: none;
      height:4em;
    }
    .input-group-addon{
      background:white;
      border:5px solid #f9f9f9;
      border-left:none;
      .btn-search{
        background:none;
        border-radius:0;
        border:none;
      }
    }
  }
  form{
    .green > .form-control{
      border-color:$green !important;
    }
    .red > .form-control{
      border-color:$red !important;
    }
    .form-control{
      border:5px solid #f9f9f9 !important;
    }
  }
}
