<div class="col-xs-2 col-sm-2 col-md-2 menu">
  {{partial "menu"}}
</div>
<div class="col-xs-10 col-sm-10 col-md-10 content">
  {{render "search"}}
  {{#if page.dashboard}}
    <div class="header"></div>
  {{/if}}
    {{liquid-outlet class="fadeScreens"}}
</div>

{{#if message}}
  <div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{message}}
  </div>
{{/if}}
