<div class="col-xs-2 col-sm-2 col-md-2 menu">
  {{partial "menu"}}
</div>

<div class="col-xs-10 col-sm-10 col-md-10 content">
  <div class="row card search">
    <div class="col-xm-12 col-sm-10 col-md-10 search">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Search stock, supplier or order..." aria-describedby="input">
        <span class="input-group-addon" id="input"><button class="btn-search">{{fa-icon "search"}}</button></span>
      </div>
    </div>
    <div class="col-sm-2 col-md-2 hidden-xs">
      <button class="btn order-btn">Order Stock</button>
    </div>
  </div>

  {{liquid-outlet class="fadeScreens"}}
</div>

{{#if message}}
  <div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{message}}
  </div>
{{/if}}
