<div class="side-menu">
  <h3>M<strong>M</strong></h3>
  <ul>
    <li class="{{if page.dashboard "active"}}">{{#link-to "dashboard"}}Dashboard{{/link-to}}</li>
    <li><a>Orders</a></li>
    <li class="{{if page.suppliers "active"}}">{{#link-to "suppliers"}}Suppliers{{/link-to}}</li>
    <li><a>Deliveries</a></li>
    <li><a>Stock</a></li>
  </ul>
</div>