<div class="side-menu">
  <h3>M<strong>M</strong></h3>
  <ul>
    <li class="active"><a>Orders</a></li>
    <li><a>Suppliers</a></li>
    <li><a>Deliveries</a></li>
    <li><a>Stock</a></li>
  </ul>
</div>